<html>
<head>
  <title><%=txtTitle%></title>
  <link href="<%=vLink%>css/app.css" rel="stylesheet" type="text/css"  />
  <link href="<%=vLink%>css/main.css" rel="stylesheet" type="text/css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div id="mainwrap">
		<div id="header-wrap" class="wrap">
			<img src="<%=vLink%>images/logo.jpg" alt="Durval Ramos Junior - Test Application" />
		</div>
		<div id="mainnav-wrap" class="wrap">
			<div id="mainnav" class="pagesize clearfix">
				<div class="vernav">
					<ul class="clearfix">
						<li><a href="/" id="active"><span>Home</span></a></li>
						<li><a href="/test"><span>App Test</span></a></li>
						<li><a href="/resume"><span>Resume</span></a></li>
						<li><a href="/contact"><span>Contact</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
