<div>
  <h2><%= txtTitle %></h2>
  <hr>
</div>
<div id="mainwrap">
	<div id="mainnav-wrap" class="wrap">
		<div id="mainnav" class="pagesize clearfix">
			<div class="vernav">
				<ul class="clearfix">
					<li><a href="adscheckout" id="active"><span>Job ads checkout system</span></a></li>
					<li><a href="listproducts"><span>Products</span></a></li>
					<li><a href="listcustomers"><span>Customers</span></a></li>
					<li><a href="listpricerules"><span>Price Rules</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
