<%- include('partials/navbar') %>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:SimSun;
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"MS Gothic";
	panose-1:2 11 6 9 7 2 5 8 2 4;}
@font-face
	{font-family:Mangal;
	panose-1:2 4 5 3 5 2 3 3 2 2;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Calibri Light";
	panose-1:2 15 3 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Segoe UI";
	panose-1:2 11 5 2 4 2 4 2 2 3;}
@font-face
	{font-family:"Liberation Serif";}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:"\@SimSun";
	panose-1:2 1 6 0 3 1 1 1 1 1;}
@font-face
	{font-family:"\@MS Gothic";
	panose-1:2 11 6 9 7 2 5 8 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
h3
	{mso-style-link:"Titulo 3 Char";
	margin-top:2.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Calibri Light",sans-serif;
	color:#1F4D78;
	font-weight:normal;}
h4
	{mso-style-link:"Titulo 4 Char";
	margin-top:2.0pt;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Calibri Light",sans-serif;
	color:#2E74B5;
	font-weight:normal;
	font-style:italic;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:#954F72;
	text-decoration:underline;}
p
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
pre
	{mso-style-link:"Pre-formatacao HTML Char";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:"Courier New";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Texto de balao Char";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Segoe UI",sans-serif;}
span.Ttulo4Char
	{mso-style-name:"Titulo 4 Char";
	mso-style-link:"Titulo 4";
	font-family:"Calibri Light",sans-serif;
	color:#2E74B5;
	font-style:italic;}
span.Ttulo3Char
	{mso-style-name:"Titulo 3 Char";
	mso-style-link:"Titulo 3";
	font-family:"Calibri Light",sans-serif;
	color:#1F4D78;}
span.Pr-formataoHTMLChar
	{mso-style-name:"Pre-formatacao HTML Char";
	mso-style-link:"Pre-formatacao HTML";
	font-family:"Courier New";}
span.TextodebaloChar
	{mso-style-name:"Texto de balao Char";
	mso-style-link:"Texto de balao";
	font-family:"Segoe UI",sans-serif;}
p.SemEspaamento1, li.SemEspaamento1, div.SemEspaamento1
	{mso-style-name:"Sem Espacamento1";
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Liberation Serif",serif;}
.MsoChpDefault
	{font-size:10.0pt;}
 /* Page Definitions */
 @page WordSection1
	{size:612.0pt 792.0pt;
	margin:21.25pt 37.9pt 14.2pt 42.55pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>


<p align=center style='text-align:center;text-autospace:none'><b><span
style='font-size:16.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Durval
Ramos Junior</span></b></p>

<p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
style='font-size:10.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Rua
Werner Goldberg, 179, ap.211 Torre Dalia</span></p>

<p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
lang=EN-US style='font-size:10.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:
line'>Barueri - CEP. 06414-025</span></p>

<p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
style='font-size:10.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>cel.
(0..11) 99181-4830 / res. (0..11) 4375-5528</span></p>

<p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
lang=EN-US><a href="mailto:durval@msn.com"><span lang=PT-BR style='font-size:
10.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>durval@msn.com</span></a></span></p>

<p class=MsoNormal align=center style='text-align:center;text-autospace:none'><span
style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal style='text-autospace:none'><b><u><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Objetivos</span></u></b></p>

<p class=MsoNormal style='text-autospace:none'><b><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Gestao de equipes Multidisciplinares
e Desenvolvimento de Sistemas</span></b></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal style='text-autospace:none'><b><u><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Qualificacoes</span></u></b></p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;text-autospace:
none'><span style='font-size:11.0pt;font-family:Symbol;layout-grid-mode:line'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:11.0pt;font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Planejamento estrategico, controle e acompanhamento na
evolucao da equipe</span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;text-autospace:
none'><span style='font-size:11.0pt;font-family:Symbol;layout-grid-mode:line'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:11.0pt;font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Organizacao e conducao de equipes multidisciplinares
para resolucao de Problemas</span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;text-autospace:
none'><span style='font-size:11.0pt;font-family:Symbol;layout-grid-mode:line'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:11.0pt;font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Definir processos de monitoramento e manutencao em Alarmes
e Crises</span></p>

<p class=MsoNormal style='margin-left:18.0pt;text-indent:-18.0pt;text-autospace:
none'><span style='font-size:11.0pt;font-family:Symbol;layout-grid-mode:line'>-<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:11.0pt;font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Gestao em infraestrutura de Servicos e suporte aos
ambientes criticos<br>
<br>
</span></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-size:8.0pt;
font-family:"Tahoma",sans-serif;layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal style='text-autospace:none'><b><u><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Experiencia Profissional </span></u></b></p>

<pre style='line-height:15.75pt;vertical-align:baseline'><b><i><span
style='font-size:12.0pt;font-family:"Tahoma",sans-serif'>TIVIT Terceirizacao Processos Servicos e Tecnologia S/A (fev. 2014/out.2016)</span></i></b></pre>

<p class=MsoNormal style='text-autospace:none'><i><span style='font-family:
"Arial",sans-serif;color:#434649'>Gerente de TI - Producao BPM
(Middleware/Banco de dados/Sustentacao)</span></i></p>

<p class=MsoNormal style='margin-left:35.45pt;text-align:justify;text-indent:
-18.0pt;text-autospace:none'><span style='font-size:11.0pt;font-family:Wingdings;
layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Gerenciamento
do desenvolvimento de software(em segmentos Java e DotNet) e de parte da<br>
infraestrutura de servidores (Windows Server e Linux) da Torre "BPM - TIVIT",<br>
realizando o planejamento de demandas, acompanhando a evolucao e o desempenho<br>
dos projetos nas equipes de desenvolvedores, controlando os servicos prestados<br>
para garantir o cumprimento dos niveis de servicos acordados (SLAs),<br>
desenvolvimento de aplicacoes, backlog de "Tarefas/Melhorias" e incidentes<br>
sobre crises, identificando e aplicando solucoes adequadas no remanejamento da<br>
equipe para melhoria continua na qualidade e quantidade das entregas nos<br>
servicos prestados de desenvolvimento e manutencao de softwares<br>
Intranet/Internet, sempre aprimorando os resultados estimados para cada ciclo<br>
do projeto, utilizando tecnologias web e mobile baseadas em MVC, Node.js,<br>	
frameworks Ruby e JSF (mobile) e plataformas cloud computing em AWS e Azure;</span></p>

<pre style='margin-left:35.45pt;text-align:justify;text-indent:-18.0pt;
line-height:15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;
font-family:Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Controle de equipes de DBAs e Middleware em dois turnos, acompanhando escalas de plantonistas
para atender as necessidades do negocio (estabilidade, manutencao, performance, troubleshooting
e importacao de dados/mailings) para clientes interno e externo;</span></pre><pre
style='margin-left:35.45pt;text-align:justify;text-indent:-18.0pt;line-height:
15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;font-family:
Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Desenvolvimento de softwares de Call Center (ativo e receptivo) com integracao de URA
para clientes como Banco Santander, Cielo, Caixa, Ed.Abril, Postos Ipiranga - ConectCar,
Net, Huawei, Renault, entre outras. Desenvolvimento de Sistemas de atendimento e rastreabilidade
de terceiros em atendimento ao cliente para TIM (projeto Live TIM). Desenvolvimento de Sistema
de Base de Conhecimento customizavel para clientes como: Caixa, Neo Energia, Net, Banco Santander, Sodexo, entre outros. </span></pre>

<p class=MsoNormal><i><span style='font-family:"Tahoma",sans-serif'>&nbsp;</span></i></p>

<p class=MsoNormal><b><i><span lang=EN-US style='font-family:"Tahoma",sans-serif'>WorkImage
Com.Serv. Ltda (out. 2012 / fev. 2014)</span></i></b></p>

<p class=MsoNormal style='text-autospace:none'><i><span style='font-family:
"Arial",sans-serif;color:#434649'>Gerente de Banco de Dados (DBAs)</span></i></p>

<pre style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;
line-height:15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;
font-family:Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Responsavel pelo planejamento, execucao e acompanhamento de projetos, definindo e orientando a manutencao de servidores
e seus licenciamentos, otimizando o tempo de resposta das aplicacoes que consomem os servicos para consulta e manipulacao
de dados. Planejamento e testes periodicos de contingencia para todas as filiais, garantindo a disponibilidade e a integridade dos dados;</span></pre><pre
style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:
15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;font-family:
Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Lider na construcao de solucoes SQL (Big Data e Data Quality) junto as equipes de desenvolvedores, buscando aprimorar a entrega
de dados relacionais com indicadores de produtividade, qualidade e performance em visoes estrategicas sobre BI (Business Intelligence 
- SSIS e DTSX) para clientes como TNT, DHL, Net, TIVIT, entre outros;</span></pre><pre
style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:
15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;font-family:
Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Fornecimento periodico de Status Reports a diretoria, com indicadores de desempenho dos servidores e instancias por aplicacao para 
controle de recursos e reducao estrategica de custos. </span></pre><pre
style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:
115%;vertical-align:baseline'><span style='font-size:11.0pt;line-height:115%;
font-family:Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;line-height:115%;font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Definicao e acompanhamento dos processos definidos para atualizacoes nos ambientes de Homologacao e Producao, garantindo os 
padroes estabelecidos de SLA para atendimento dos clientes;</span></pre>

<p class=MsoNormal><i><span style='font-family:"Tahoma",sans-serif'>&nbsp;</span></i></p>

<p class=MsoNormal><b><i><span style='font-family:"Tahoma",sans-serif'>WorkImage
Com.Serv. Ltda (dez. 2009 / out. 2012)</span></i></b></p>

<p class=MsoNormal style='text-autospace:none'><i><span style='font-family:
"Arial",sans-serif;color:#434649'>Lider de Projetos - Negocios e
Desenvolvimento de Software</span></i></p>

<pre style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;
line-height:15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;
font-family:Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Levantamento de requisitos e implementacao de solucoes para diversos produtos utilizando: WinForms, Web Services, ASP.Net e VB 6.0. 
Atualizacao e manutencao de processos para integracao de dados em SQL Server 2005 e 2008;</span></pre><pre
style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:
15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;font-family:
Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Auxilio as requisicoes de 2&deg; e 3&deg; nivel de Atendimento ao Cliente, solucionando problemas diversos em ambientes de servidores IIS 
e SQL Server (distribuidos); </span></pre><pre
style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:
15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;font-family:
Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Utilizacao de boas praticas para aplicacao efetiva de desenvolvimento de produtos, seguindo processos das metodologias ageis SCRUM 
e Kanban, planejando acoes para atingir os prazos estipulados, entregando o projeto dentro dos requisitos de custo e qualidade esperados.
</span></pre>

<p class=SemEspaamento1 style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt;line-height:115%'><span style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span style='font-size:11.0pt;line-height:115%;font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Desenvolvimento de projetos em GED (Gestao Eletronica de
Documentos) para digitalizacao e indexacao de informacoes com acesso 
rapido aos <br>documentos de cadastros de RH, prontuarios medicos, CTRCs e NFs de
Transportadoras em diversos clientes, como: TNT, DHL, Hospital <br>
Sirio Libanes,
Intermedica, TIVIT, Catho, entre outras. </span></p>

<p class=SemEspaamento1 style='margin-left:36.0pt;text-align:justify;
text-indent:-18.0pt;line-height:115%'><span style='font-size:11.0pt;line-height:
115%;font-family:Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span style='font-size:11.0pt;line-height:115%;font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Desenvolvimento de sistema de controle de chamados para
gestao de atendimento de terceiros para Natura e Grupo Protege.</span></p>

<pre style='line-height:15.75pt;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:"Tahoma",sans-serif'>&nbsp;</span></pre>

<p class=MsoNormal><b><i><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Banco Itau BBA S/A (jan. 2006 / dez. 2009)</span></i></b></p>

<p class=MsoNormal style='text-autospace:none'><i><span style='font-family:
"Arial",sans-serif;color:#434649'>Analista Funcional Senior</span></i></p>

<pre style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;
line-height:15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;
font-family:Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Levantamento de requisitos, documentacao e implementacao de solucoes em equipe (analistas e fabrica de programadores)
para diversos sistemas internos utilizando WinForms, ASP.Net, VB 6.0, PowerBuilder e VBA para Excel; </span></pre><pre
style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:
15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;font-family:
Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Definicao de procedimentos para migracao de estrutura de dados SQL Server 2000 e 2005 (Nassau, IBA e Chile). 
Gestao de priorizacao de backlog, procedimentos para desenvolvimento interno/externo, testes e implantacao para ampliacao do 
ciclo de vida das novas solucoes. </span></pre><pre
style='margin-left:36.0pt;text-align:justify;text-indent:-18.0pt;line-height:
15.75pt;vertical-align:baseline'><span style='font-size:11.0pt;font-family:
Wingdings;layout-grid-mode:line'>§<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span
style='font-size:11.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Execucao da estruturacao de dados de clientes e grupos economicos para migracao do Unibanco aos diversos segmentos do Itau.</span></pre>

<p class=MsoNormal><span style='font-size:8.0pt;font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:8.0pt;font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal><b><u><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Formacao Academica</span></u></b></p>

<p class=MsoNormal style='text-autospace:none'><i><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Universidade Sao Judas Tadeu</span></i></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Graduado em Ciencias da Computacao (1999)</span></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal style='text-autospace:none'><i><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Centro de Pesquisas - Universidade
Sao Judas </span></i></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Especializado como Pesquisador, com enfase em Tecnologia
da Informacao (2000)</span></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal style='text-autospace:none'><i><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Faculdade de Informatica e
Administracao Paulista - FIAP</span></i></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>MBA em Gestao de Tecnologia da Informacao (2013)</span></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal style='text-autospace:none'><b><u><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Ferramentas </span></u></b></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>- .Net 2005 e 2008 (VB.Net e C#) com WinForms, ASP.Net,</span>
<span style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>MVC, WebServices,
Javascript e </span></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>DHTML avancados, nas plataformas DotNet 2.0 e 3.5,
Node.js, AngularJS;</span></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>- SQL Server 2000, 2005, 2008, 2012 e 2014 (OLAP e DTSx\
SSIS), SyBase e Oracle 9i; </span></p>

<p class=MsoNormal style='margin-left:7.1pt;text-indent:-7.1pt;text-autospace:
none'><span lang=EN-US style='font-family:"Tahoma",sans-serif;layout-grid-mode:
line'>- Rose, ClearQuest, ClearCase, RequisitPro, MS-Visio, MS-Project,
Enterprise Architect, </span><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Jira Agile 6.7 e Trello;</span></p>

<p class=MsoNormal style='margin-left:7.1pt;text-indent:-7.1pt;text-autospace:
none'><span style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>-
Cloud computing Azure(SQLAzure) e AWS;</span></p>

<span style='font-size:12.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:
line'><br clear=all style='page-break-before:always'>
</span>

<p class=MsoNormal><span style='font-family:"Tahoma",sans-serif;layout-grid-mode:
line'>&nbsp;</span></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal style='text-autospace:none'><b><u><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Certificacoes </span></u></b></p>

<pre style='line-height:15.75pt;vertical-align:baseline'><span
style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>- </span><span
style='font-size:12.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>COBIT 4.1; ITIL v3</span></pre><pre
style='line-height:15.75pt;vertical-align:baseline'><span style='font-size:
12.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>- PMP (PMBOK 5&ordf; edicao)</span><span
style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>;</span></pre><pre
style='line-height:15.75pt;vertical-align:baseline'><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>- </span><span style='font-size:
12.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Metodologias ageis - SCRUM e Kanban;</span></pre><pre
style='margin-right:-7.1pt;line-height:15.75pt;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:"Tahoma",sans-serif;layout-grid-mode:line'>- Six Sigma - "Green Belt";</span></pre>

<p class=MsoNormal style='margin-right:-1.0cm;text-autospace:none'><span
style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>- MTA</span> <span
style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Database; MCSA
SQL Server 2012&#8725;2014; MCSE</span> <span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Data Management and Analytics(*Charter);</span></p>

<p class=MsoNormal style='margin-right:-1.0cm;text-autospace:none'><span
style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>MCSE Data
Platform (SQL Server 2012&#8725;2014); Microsoft Specialist Server
Virtualization with Windows Server Hyper-V and System Center</span></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>&nbsp;</span></p>

<p class=MsoNormal style='text-autospace:none'><b><u><span style='font-family:
"Tahoma",sans-serif;layout-grid-mode:line'>Idiomas</span></u></b></p>

<p class=MsoNormal style='text-autospace:none'><span style='font-family:"Tahoma",sans-serif;
layout-grid-mode:line'>Ingles - avancado</span></p>

<p class=MsoNormal style='text-autospace:none'><span
style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>Espanhol - </span><span
style='font-family:"Tahoma",sans-serif;layout-grid-mode:line'>avancado</span></p>

</body>

</html>
